@import "../../../styles/global-properties";

.videoList{
	@include grid-column(12, true, false, false, false, false, true, false, false);

	img {
		height: auto;
	}

	.more{
		display:none;
		opacity:0;
	}
	.show{
		float:none;
		clear:both;
		@include clearfix;
	}
    .js-show{
		cursor:pointer;
    }

	li{
		padding: $column-gutter*.25 10px;
		float:left;
		&.more{
			display:none;
		}
	}

}