@import "../../../../styles/global-properties";
/**********

Retirees list view for main pages
Dipslayed in block list as a dataview 

**********/
$include-html-global-classes: false;

.retiree-article {
    padding: 1em 0 2em;
    border-bottom: 2px solid $basin-gray-3;

    h2.retiree-article-title {margin: .5rem 0;
        font-size:rem-calc(24);
        line-height: 1.75rem;
    }
    .retiree-article-dateline {font-size:rem-calc(14);
        color: $body-text;
        font-size:.875rem;
        color: $basin-gray-2;
    }
}
div.retiree-article:last-child {border: none;}