@import "../../styles/global-properties";

.biography figure {
    margin: 0;
}

.biographies div:last-of-type {
    border-bottom:none;
}

.bio-name {
    margin-bottom: 0;
    color:$basin-gray2;
    font-size: rem-calc(22);
    font-weight: 500;
}

.bio-title {
    margin:0;
    padding:0;
    color:$basin-gray2;
    font-size: rem-calc(16);
    font-weight: 500;
}

.biography img {
    text-align: center;
}

@media #{$medium} {

    .biography {
        @include grid-row();
        padding:1rem 0;
        border-bottom: 1px solid $basin-gray-4;
        
        > div {
            @include grid-column(12);
        }
    
        figure {
            @include grid-column(3);
            margin: 0;
            text-align: center;
            img {
                width: auto;
                height: auto;
            }
        }
    
        figure + div {
            @include grid-column(9);
        }
    }
    
    .bio-name {
        padding-left: $column-gutter/2;

        .biography-plus & {
            width: 75%;
            float: right;
            padding: 0 $column-gutter/2;
        }
    }
}

