@import "../../styles/global-properties";
$white: #FFF !default;
.slider-gallery {
    margin: 0 0 1rem 0;
    .caption {
        background-color: rgba(0, 159, 223, .85);
        position: relative;
        bottom: 0;
        width: 100%;
        display: block;
        padding: 1rem;
        color: #fff;
        @media #{$medium-up} {
            position: absolute;
            font-size: rem-calc(20);
        }
        p:first-child {
            margin: 0;
            padding: 0;
        }
    }
    .prev,
    .next {
        display: none;
    }
    .slick-prev {
        display: inline-block;
        &:before {
            content: "\2329";
        }
    }
    .slick-next {
        display: inline-block;
        &:after {
            content: "\232A";
        }
    }
}

.slider-gallery-article-horizontal,
.slider-gallery-article-vertical {
    margin: $column-gutter auto;
    .caption {
        background: none;
        position: relative;
        color: $body-text;
        padding: 3px 50px;
        text-align: left;
        min-height: 3em;
    }
    li {
        text-align: center;
    }
}

.slider-gallery-article-vertical {
    max-width: 300px;
    height: 500px;
}

.slider-gallery-article-horizontal {
    max-width: 700px;
}