@import "../../../styles/global-properties";
@import "../../../styles/colors";
$board-bio-z-index: 1000 !default;

.board-bio-wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    width: 80%;
    padding: 2rem;
    overflow-y: auto;
    background-color: rgba(255,255,255,0.975);
    margin: 2rem 0 0 -40%;
    border: 3px solid $basin-gray-2;
    border-radius: .5rem;
    box-shadow: 4px 4px 8px #666;
    z-index: $board-bio-z-index;

    @media #{$medium-up} {
        top: 0;
        left: 50%;
        width: 50%;
        padding: 2rem;
        margin: 2rem 0 0 -25%;
    }

}
.board-bio {
    z-index: $board-bio-z-index + 1;
    position: relative;
    margin: 1rem auto;
    width: 100%;
    max-width: 36rem;

    .close-button {
        position: absolute;
        right: 0;
        top: 0;
        padding: .5rem 1rem;
        color:#fff;
        font-size: 1rem;
        margin: -1.5rem -1.5rem 0 0;
    }
    .close-button:hover,.close-button:focus {
        background-color: $action-alt-color;
    }
    
    .board-bio-pic {
        margin-right:1rem;
        @media #{$medium-up} {
            float:left;
        }
    }
    .board-bio-details {
        .name {font-size: 1.25rem;}
        
    }

}