$menu-color: #009FDF !default;
$menu-padding: .9375rem;
$menu-link-hover-background: #00668f !default;

.mega-menu.large {
    
    .menu-link {
        display: none;
    }

    .menu-overview {
        display: none;
    }

    nav > ul {
        max-width: 72rem;
        margin: 0 auto;
    }

    nav > ul > .menu-link {
        display: inline-block;
    }

    .menu-link a {
        display: inline-block;
        padding: 0 $menu-padding;
        line-height: 2.8125rem;
    }

    .active {
        background: $menu-link-hover-background;
    }

    .active > ul {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background: $menu-color;
        width: 100%;
        max-width: 72rem;
        background: $menu-link-hover-background;       
    }

    .active > ul > .menu-overview {
        display: block;
    }

    .active > ul > .menu-overview > ul,
    .active > ul > .menu-overview > li {
        width: 100%;
    }

    .active > ul > .menu-overview > ul > li > ul {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }

    .active .menu-link {
        display: block;
        flex-grow: 1;
        width: 25%;
        margin-bottom: $menu-padding;
    }

    .active.menu-link .menu-link .menu-overview {
        display: block;
    }
    
    .active.menu-link .menu-link .menu-link {
        width: 100%;
        margin-bottom: 0;
        padding-left: 1rem;
    }

    .active.menu-link .menu-link .menu-link a {
        font-size: 1rem;
    }

    .active.menu-link .menu-link a {
        line-height: 1.375rem;
    }

    .menu-overview .menu-overview > a {
        display: none;
    }

    .menu-link .menu-link .menu-link  .menu-link {
        display: none;
    }
}