@import "../../styles/global-properties";

$menu-color: #009FDF !default;

.mega-menu {
    background: $menu-color;
    width: 100%;
 
    nav {
        position: relative;
        width: 100%;
    }
}

@import "./styles/mobile-style",
        "./styles/large-style",

        "./MenuLink/styles/default-style",
        "./MenuLink/styles/mobile-style",
        "./MenuLink/styles/large-style",

        "./MobileMenuTrigger/style";


// HACK 
// ISSUE
// DESCRIPTION: Fix desktop menu to mobile menu transition to prevent items
// from getting cut off and bumped to a new line under the blue menu bar
// ASSUMPTION: Menu starts getting cut off at 945px
// RESOLUTION IDEA: Menu items dynamically adjust as the screen gets smaller
$small-to-medium-range: "#{$screen} and (min-width:#{upper-bound($medium-range)}) and (max-width:955px)";
@media #{$small-to-medium-range}{
    .mega-menu{
        .top-bar-section .has-dropdown > a{
            padding: 0 $column-gutter*.2 !important;
        }
    }
}