@import "../../../styles/global-properties";
$board-member-name-color: #009FDF !default;

.board-grid {
    .board-member {
        cursor: pointer;
        text-align:center;
    }
    .dir-name,.dir-district {
        margin:0;
        padding:0;
    }
    .dir-name {
        color: $board-member-name-color;
        font-size: 1.125rem;
    }
}