$menu-background-color-on: #FFF !default;
$menu-background-color-off: #009FDF !default;
$menu-trigger-color-on: #009FDF !default;
$menu-trigger-color-off: #FFF !default;

.mobile-menu-trigger-wrapper {
    background-color: $menu-background-color-on;
    color: $menu-trigger-color-on;
    font-weight: 700;
    font-size: rem-calc(16);
    position: relative;
    display: block;
    
    &:hover{
        cursor: pointer;
    }
    
    .mobile-menu-trigger{
        position:relative;
        display: block;
        width: 100%;
        padding: 1rem 3rem;
    }

    span:after{
        content:"";
        position:absolute;
        display:block;
        height:0;
        top: 50%;
        margin-top: -.44rem;
        left: 0.805rem;
        box-shadow: 0 0 0 2px $menu-trigger-color-on, 0 7px 0 2px $menu-trigger-color-on, 0 14px 0 2px $menu-trigger-color-on;
        width: 1.4rem;
        padding: 0px;
    }
}

.menu-open .mobile-menu-trigger-wrapper{
    background-color: $menu-background-color-off;
    color: $menu-trigger-color-off;
    border-bottom: #FFF solid 1px;
    width:100%;
    
    &:hover{
        cursor: pointer;
        background-color: #00668f;
    }

    .mobile-menu-trigger {
        display: block;
        width: 100%;
        padding: 1rem 0 1rem 3rem;
    }

    span:after{
        content:"";
        box-shadow: 0 0 0 2px $menu-trigger-color-off, 0 7px 0 2px $menu-trigger-color-off, 0 14px 0 2px $menu-trigger-color-off;
    }
}