@import "../../styles/global-properties";
.box {
	margin-bottom: 0.9375rem;
	margin-top:0.9375rem;
	img {width:100%;}
}
@mixin title-color($color, $hoverColor){
	margin:0;
	padding: 10px;
	font-size:115%;
	color: $white;
	background-color: $color;

	a &:hover, a:hover & {
		background-color: $hoverColor;	
	}
	@media print{
		padding-bottom:2pt;
		margin-bottom:10pt;
		border-bottom: $black 1px solid;
	}

}
.title-blue{
	@include title-color($basin-blue, $basin-blue1);
}
.title-gray{
	@include title-color($basin-gray, $basin-gray1);
}
.title-green{
	@include title-color($basin-green, $basin-green1);
}
.title-orange{
	@include title-color($basin-orange, $basin-orange1);
}
.title-red{
	@include title-color($basin-red, $basin-red1);
}