// Basin Colors 
// Primary color does not have a number and should be treated as a zero.
// Colors above primary are darker (1,2,3). Colors below primary are lighter (-1,-2,-3).

$basin-blue3: #004967;
$basin-blue2: #00668f;
$basin-blue1: #0082b7;
$basin-blue: #009FDF;  //rgb(0,159,223)
$basin-blue-1: #39b5e6;
$basin-blue-2: #73caed;
$basin-blue-3: #ace0f5;
$basin-blue-4: #eaf7fc;

$basin-green3: #37570f;
$basin-green2: #4d7a14;
$basin-green1: #629c1a;
$basin-green: #78BE20;  //rgb(120,190,32)
$basin-green-1: #96cd52;
$basin-green-2: #b5db84;
$basin-green-3: #d3eab7;

$basin-orange3: #6d4000;
$basin-orange2: #985900;
$basin-orange1: #c27200;
$basin-orange: #ED8B00;  //rgb(237,139,0)
$basin-orange-1: #f1a539;
$basin-orange-2: #f5bf73;
$basin-orange-3: #f9d9ac;

$basin-red3: #611116;
$basin-red2: #86181f;
$basin-red1: #ac1f27;
$basin-red: #D22630;  //rgb(210,38,48)
$basin-red-1: #dc575f;
$basin-red-2: #e6888d;
$basin-red-3: #f0b8bc;

$basin-gray3: #363739;
$basin-gray2: #4b4d4f;
$basin-gray1: #606265;
$basin-gray: #75787B;  //rgb(117,120,123)
$basin-gray-1: #949699;
$basin-gray-2: #b3b5b6;
$basin-gray-3: #d2d3d4;
$basin-gray-4: #dcddde;

$body-text : $basin-gray1;
$link-text : $basin-blue1;
$action-color: $basin-blue;
$action-alt-color: $basin-blue2;
$action-off-color: $basin-green;
$background: #fff;
$white: #fff;
$text-white: #f9f9f9;