@import "../../../../styles/global-properties";

.agenda-day-wrapper {
    padding-bottom: 1rem;
}
.agenda-items {
    .row {margin: 0;}
}
.agenda-day {padding: .25em .5em;
    color:$text-white;
    background:$basin-orange;
    font-size: rem-calc(20);}

.agenda-item {padding: 1rem 0;
    border-bottom: 1px solid $basin-gray-4;}
.agenda-time {font-weight: 700;}
.agenda-detail {border: none;
    padding-left: 2rem;}

@media #{$medium-up} {
    .agenda-time {font-weight: 400;}
    .agenda-detail {border-left: 1px solid $basin-gray-4;
        padding-left: 1.5rem;}
    }