@import "../../styles/global-properties";

.event-item {
    padding: 0 0 2rem 0;
    
    .event-title{
        font-size:112.5%;
    }
    li,
    .event-day,
    .event-date-string,
    .event-location,
    .event-time,
    .event-month{
        font-size:100%;
    }  
    @media print{
        .event-time{
            font-size:112.5%;
        }
        li{
            font-size:83.34%;
        }
    }
    .event-date-box{
        margin-bottom: .5rem;
        padding: 0 .375em;
        color: #fff;
        background: $basin-green1;
    }

    .event-month {
        padding-right:.25em;
    }
            
    .event-month, .event-day {
        color:#fff;
    }

    .event-time-box{
        font-weight:bold;
    }

    .event-time{
        &:nth-child(2n+2):before{
            content:' - ';
        }
    }

        
    p {
        line-height: 1;
        margin-bottom: .5rem;
    }
    
    .event-title {
        font-weight:700;
    }
    .event-date-string {
        color:$basin-green1;
        font-weight: bold;
    }

    &:nth-of-type(even){
        .item-content{
            background:$basin-gray-4;
        }
    }
    .item-content{
        @include grid-row(true);
        padding:.5rem 0;
        @media print{
            padding:0;
        }        
        .columns{
            padding:0 .75rem;
            @media print{
                @include grid-column(10);
                &:first-child{
                    @include grid-column(2);
                }
            }
        }
    }
}



@media #{$large-up} { 
        
    .event-item {
            
        .event-date-box{
            margin: 0 0 0 50px;
            padding-top: .375rem;
            max-width: 4rem;
            min-height: 60px;
            text-align: center;
        }

        .event-time{
            padding-top:10px;
        }

        .event-month {
            display:block;
            padding-right: 0;
        }
        
        .event-day {
            display:block;
            text-align: center;
            font-weight:400;
        }
        .item-content{
            padding:0;
            .columns{
                 padding:.75rem;
            }
        } 
    }
}