$menu-link-color: #FFF !default;
$menu-link-hover-background: #00668f !default;

.menu-link {
    a,
    .back {
        color: $menu-link-color;
        font-size: 1.25rem;
        line-height: 2.8rem;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            background: $menu-link-hover-background;
        }

    }
}