$background-color: #009FDF !default;
$link-color: #FFF;

.mobile .menu-link{
    display: none;

    &,
    .menu-overview > a,
    .back {
        border-bottom: 1px #FFF solid;
    }

    &.active {
        display: block;
    }

    &.active > ul {
        position: absolute;
        background: $background-color;
        left: 0;
        top: 0;
        min-height: 100%;
        width: 100%;
        z-index: 10;
    }
    
    &.active .menu-link {
        display: block;
    }

    &.active .menu-link ul {
        display: none;
    }

    &.active-parent {
        display: block;
        position: absolute;
        width: 100%;
    }

    &.active-forced {
        display: block;
    }
    
    &.active-forced .back,
    &.active-forced .menu-overview {
        display: none;
    }
 
    a {
        position: relative;
        width: 100%;
        display: block;
    }
    
    a,
    .back {
        padding-left: 1rem;
    }


    .more {
        height: 0;
        width: 0;
        display: inline-block;
        border: 8px solid transparent;
        border-left: 8px solid #fff;
        position: absolute;
        top: .8rem;
        right: 1.5rem;
    }
}