// .news-list-wrapper - parent item
.news-list {margin:0; padding: 0;
    li {margin: 2rem 0;
        list-style-type: none;}
}
.news-card {padding: .25rem 2rem;
    border-left: 1px solid $basin-blue;
    position: relative;
    transform: translateZ(0);
    transition: color 100ms;
    .dateline {font-size:rem-calc(14);
        color: $body-text;}
    .title {margin: .5rem 0;
        font-size:rem-calc(24);
        line-height: rem-calc(24);
        color: $link-text;}
    .summary {font-size:rem-calc(18);
        color: $body-text;}

    &:before {content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $basin-blue-4;
        /*background: rgba(117,120,123, 0.3);*/
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition: 300ms ease-out;
        transition: 300ms ease-out;
    }
    &:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}


