@import "../../../../styles/global-properties";
/**********

BASIN TODAY
Dipslayed in block list as a dataview 

**********/
$include-html-global-classes: false;

// feature story at top of page - pulled by using sticky option in CMS
.btoday-feature-card {margin-bottom: 2rem;
    padding-bottom:.5rem;
    background-color: $background;
    transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;

    .btoday-feature-title {margin: .5rem 0;
        padding-left:.5rem;
        font-size:rem-calc(24);
        line-height: 1.5rem;
        color: $link-text;
    }
    .btoday-feature-summary {padding-left:.5rem;
        color: $body-text;
    }
    &:hover {background-color: $basin-blue-4;}
    .btoday-feature-dateline, {
        padding-left:.5rem;
        font-size:.875rem;
        color: $basin-gray-2;
    }
}

// grid of items listing all the rest of the stories except feature
.btoday-card {padding: .75rem;
    background-color: $background;
    transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    
    .btoday-title {margin: .5rem 0;
        font-size:rem-calc(20);
        line-height: rem-calc(24);
        color: $link-text;
    }
    .btoday-summary {color: $body-text;}
    &:hover {background-color: $basin-blue-4;}
    .btoday-dateline {font-size:.875rem;
        color: $basin-gray-2;
    }
}
