/* VIDEO GALLERY & RELATED VIDEOS */
@import "../../styles/global-properties";
#relatedVideos {padding: 1rem;
    background-color: #f3f3f3;}
h2.related-vids-header {font-size: rem-calc(24);
    font-weight: 500;}
.rel-vid-title {font-size: .875rem;}


.related-vids-header {
    margin-bottom: 1rem;
}

.rel-vid-item {
    position: relative;
}
.rel-vid-thumb {
    width:160px;

    small{
        font-size: 75%;
        margin: 6px 0;
        min-height:60px;
        line-height:1.3;
        display: block;
    }
}

.rel-vid-icon,
.vid-icon {
    position: absolute;
    z-index: 2;
	background-image: $playVideoIcon;
	background-repeat: no-repeat;
    opacity:0;
    -moz-transition: opacity .75s;
    -o-transition: opacity .75s;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
}

.vid-icon {
    height: 100%;
    width: 100%;
	background-position: center;
	
    &:hover {
        opacity: 1;
    }
}

.rel-vid-icon {
    top: 25px;
    left: 50px;
    height: 40px;
    width: 60px;
    .rel-vid-item:hover & {
        opacity: 1;
    }
}


.videoList{
	@include grid-column(12, true, false, false, false, false, true, false, false);

	img {
		height: auto;
	}

	.more{
		display:none;
		opacity:0;
	}
	.show{
		float:none;
		clear:both;
		@include clearfix;
	}
    .js-show{
		cursor:pointer;
    }

	li{
		padding: $column-gutter*.25 10px;
		float:left;
		&.more{
			display:none;
		}
	}

}
.videoFeed{
	@include grid-column(12);	
	@media #{$large-up}{
		@include grid-column(4);
	}
	.expand {
		padding: 10px;
		text-align:left;
		margin-bottom: 5px;
	}
}
.videoPlayerWrapper{
	@include grid-column(12);
	@media #{$large-up}{
		@include grid-column(8);
	}
}
.videoPlaylist{
	@include grid-row();
}


@media print {
    #relatedVideos {
        display: none;
    }
}
