@import "../../../styles/global-properties";

.videoFeed{
	@include grid-column(12);	
	@media #{$large-up}{
		@include grid-column(4);
	}
	.expand {
		padding: 10px;
		text-align:left;
		margin-bottom: 5px;
	}
}