@import "../../../styles/global-properties";

$anchor-font-color: #009FDF !default;
$anchor-font-color-hover: #0082b7 !default;

.board-table{
    .name {
        color: $anchor-font-color;
        &:hover {
            color: $anchor-font-color-hover;
            cursor:pointer;
        }
    }
    .district {text-align: center;}
}