@import "../../styles/global-properties";

.inlineImage figcaption p {
    padding: .5rem;
    color: $basin-gray;
    background-color: $background;
    font-size: .875rem;
    line-height: 1.25;
}

figcaption {
    margin-bottom: 1rem;
}